{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
</head>
<body>
    <!-- <h2>Edit Your Profile</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit">Save Changes</button>
    </form> -->
    <h2>Edit Profile</h2>
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Account Info</h3>
    {{ user_form.as_p }}

    <h3>Profile Info</h3>
    {{ profile_form.as_p }}

    <button type="submit">Save Changes</button>
</form>
</body>
</html>
